service: ${env:APP_ID}

frameworkVersion: '3'

plugins:
  - serverless-lift

useDotenv: true

provider:
  name: aws
  runtime: go1.x
  tags:
    project: "lashroom"


package:
  patterns:
    - '!./**'
    - ./bin/**

functions:
  scheduleEmail:
    role: DefaultRole
    handler: bin/scheduleEmail
    memorySize: 256
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayAuthorizer
    environment:
      EMAIL_TABLE: !Ref NotificationsTable
      CLIENT_TABLE: !Ref ClientTable
      QUEUE_URL: ${construct:ClientCreationQueue.queueUrl}
      GIN_MODE: release
    timeout: 30
  scheduleCheck:
    memorySize: 256
    role: DefaultRole
    handler: bin/scheduleCheck
    events:
      - schedule: cron(0 22 * * ? *)
    environment:
      EMAIL_TABLE: !Ref NotificationsTable
      EMAIL_DOMAIN: webdevlife.me
      EMAIL_API_KEY: ${env:EMAIL_API_KEY}
      TWILIO_ACCOUNT_SID: ${env:TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${env:TWILIO_AUTH_TOKEN}
      MESSAGING_SERVICE_SID: ${env:MESSAGING_SERVICE_SID}

    timeout: 300

constructs:
  ClientCreationQueue: 
    type: queue
    worker:
      memorySize: 256
      handler: ./bin/queueHandler
      role: DefaultRole
      environment:
        QUEUE_URL: ${construct:ClientCreationQueue.queueUrl}
        CLIENT_TABLE: !Ref ClientTable
      
# you can add CloudFormation resource templates here
resources:
  Resources:
    NotificationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${env:APP_ID}-event-table-${opt:stage, 'dev'}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: primaryKey
            AttributeType: "S"
          - AttributeName: sortKey
            AttributeType: "S"
          - AttributeName: status
            AttributeType: "S"
        KeySchema:
          - AttributeName: primaryKey
            KeyType: HASH
          - AttributeName: sortKey
            KeyType: RANGE
        TimeToLiveSpecification:
          AttributeName: TTL
          Enabled: true
        GlobalSecondaryIndexes:
          - IndexName: STATUS
            KeySchema:
              - AttributeName: status
                KeyType: HASH
              - AttributeName: primaryKey
                KeyType: RANGE
            Projection: 
              ProjectionType: ALL
    ClientTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${env:APP_ID}-client-table-${opt:stage, 'dev'}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: primaryKey
            AttributeType: "S"
          - AttributeName: sortKey
            AttributeType: "S"
        KeySchema:
          - AttributeName: primaryKey
            KeyType: HASH
          - AttributeName: sortKey
            KeyType: RANGE
                
          
      
    DefaultRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${env:APP_ID}-dynamo-access-${opt:stage, 'dev'}
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${env:APP_ID}-dynamo-access-${opt:stage, 'dev'}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:*
                  Resource:
                    - !GetAtt NotificationsTable.Arn 
                    - !Join ["",[!GetAtt NotificationsTable.Arn, "/index/*"]]
                    - !GetAtt ClientTable.Arn 
                    - !Join ["",[!GetAtt ClientTable.Arn, "/index/*"]]
          - PolicyName: ${env:APP_ID}-cloudwatch-default-${opt:stage, 'dev'}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogStream
                    - logs:CreateLogGroup
                    - logs:TagResource
                    - logs:PutLogEvents
                  Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
          - PolicyName: ${env:APP_ID}-sqs-access-${opt:stage, 'dev'}
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - sqs:*
                  Resource:
                    - ${construct:ClientCreationQueue.queueArn}
    ApiGatewayAuthorizer:
      Type: AWS::ApiGateway::Authorizer
      Properties:
        AuthorizerResultTtlInSeconds: 300
        IdentitySource: method.request.header.Authorization
        Name: Cognito
        RestApiId:
          Ref: ApiGatewayRestApi
        Type: COGNITO_USER_POOLS
        ProviderARNs:
          - !Sub arn:aws:cognito-idp:${AWS::Region}:${AWS::AccountId}:userpool/${env:USER_POOL_ID}


